<!DOCTYPE html>
<html>
<head>
	<title>Vue.js</title>
	<link rel="stylesheet" type="text/css" href="./style.css">
	<script src="https://unpkg.com/vue"></script>
</head>
<body>
	<div id="vue-app">
		<h1> 双向数据绑定 / input / select / textarea </h1>
		<label>姓名:</label>
		<input ref="name" type="text" v-model="name">
		<span>{{name}}</span>
		<label>年龄:</label>
		<input ref="age" type="text" v-model="age">
		<span>{{age}}</span>

		<p>注：输入姓名后，按回车触发事件。输入年龄后按Alt+回车触发事件</p>
	</div>
	<script type="text/javascript" src="./app.js"></script>
</body>
</html> 